<form method="post" action="/memos/<%= @memo.id %>">
<textarea name="title" rows="1" cols="40" disabled><%= escape(@memo.title) %></textarea><br>
<textarea name="content" rows="4" cols="40" disabled><%= escape(@memo.content) %></textarea><br>
<div>
  <button type="button" onclick="location.href='/memos/<%= @memo.id %>/edit'">変更</button>
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="削除">
</div>
</form>
