<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title><%= @title %></title>
</head>
<body>
  <h1>メモアプリ</h1>
  <div style="height:24px; margin-block-end:20px; color:red" ><%= @message %></div>
  <div><%= yield %></div>
</body>
</html>
